
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter',
  sans-serif;
}

h1,
p,
small,
ul {
  padding: 5%;
}

h3 {
  margin-top: 1em;
  color: #61dafb;
}

h4 {
  margin-top: 1.89em;
  margin-right: 2em;
}

ul {
  margin-left: 20px;
  line-height: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: rgb(97, 97, 97);
  padding-bottom: 10px;
  border-bottom: solid 2px;
}

.react-logo {
  height: 40px;
  margin: 5%;
  animation: App-logo-spin infinite 10s linear;
}

.logo-group {
  display: flex;
  margin-top: 0.5em;
  margin-left: 1em;
}

.main {
  height: 100%;
  padding-bottom: 3em;
}

.copyright {
  font-size: 0.9em;
  background: rgb(94, 94, 94);
  height: 3em;
  line-height: 3em;
  border-top: solid 1px white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#toggle {
  height:30px;
  width: 45px;
  position: relative;
  top:20px;
  right: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: solid 2px;
}

#toggle--circle {
  position: absolute;
  right: 0px;
  margin: 5px;
  height: 1px;
  width: 1px;
  border-radius: 100%;
  border: solid 10px;
  
}


.dark {
  background: rgb(53, 53, 53);
  color: white;
  border:white;
  border-top: solid 1px white;
}

.light {
  background: white;
  color: rgb(53,53,53);
  border:rgb(53, 53, 53);
  border-top: solid 1px rgb(53, 53, 53);
  right: auto;
}
