*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

main {
  height: 80vh;
  aspect-ratio: 1;
  outline: solid 40px black;
  border-radius: 30px;
}


